:root {
  /* Color */
  --black-color: #333;

  /* Font Size*/
  --font-size-small: 12px;
  --font-size-normal: 16px;

  /* Font Color */
  --font-color: #333;
}

body {
  color: var(--black-color);
  font-weight: 400px;
  font-size: var(--font-size-normal);
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

/* HEADER */

header {
  width: 100%;
  background-color: #f6f5ef;
  position: fixed;
  top: 0;
  z-index: 99;
}

header > .inner {
  height: 120px;
}

header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

header .util {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}

header .util > ul {
  font-family: Arial, sans-serif;
  display: flex;
}

header .util > ul li {
  position: relative;
  cursor: pointer;
}

header .util > ul li::before {
  content: '';
  width: 1px;
  height: 12px;
  background: #555;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .util ul > li:first-child::before {
  display: none;
}

header .util ul > li a {
  font-size: 12px;
  padding: 11px 16px;
  display: block;
  color: #555;
}

header .util ul > li a:hover {
  text-decoration: underline;
}

header .util .search {
  position: relative;
  cursor: pointer;
}

header .util .search input {
  color: #777;
  width: 34px;
  height: 34px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background: #fff;
  padding: 4px 10px;
  font-size: 12px;
  transition: width 0.4s;
}

header .util .search span {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 5px;
  height: 24px;
}

header .menu {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
}

header .menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  display: block;
}

header .menu .item:hover .item__name {
  padding: 10px 20px 34px 20px;
  font-size: 13px;
  background-color: #2c2c2c;
  color: #669900;
  text-decoration: underline;
  cursor: pointer;
}

header .menu .item .item__contents {
  width: 100%;
  position: fixed;
  left: 0;
  visibility: hidden;
  transition: height 0.5s;
}

header .menu .item:hover .item__contents {
  visibility: visible;
}

/* .act {
  visibility: visible;
  height: 60vh;
} */

header .menu .item .item__contents .contents__menu {
  background-color: #2c2c2c;
  color: #fff;
}

header .menu .item .item__contents .contents__menu > ul {
  display: flex;
  padding: 20px 0;
}

header .menu .item .item__contents .contents__menu > ul > li {
  width: 220px;
  cursor: pointer;
}
header .menu .item .item__contents .contents__menu > ul > li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
}

header .menu .item .item__contents .contents__menu > ul > li h4 {
  text-decoration: underline;
}

header .menu .item .item__contents .contents__menu > ul > li ul li {
  padding: 5px 0;
  color: #999;
  font-size: var(--font-size-small);
}

header .menu .item .item__contents .contents__menu > ul > li ul li:hover {
  text-decoration: underline;
}

header .badge {
  position: absolute;
  right: 12px;
  top: 140px;
  cursor: pointer;
}

/* VISUAL */
.visual {
  margin-top: 120px;
  height: 34vw;
  background-image: url(../images/Chrismas_bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.visual .inner {
  height: 100%;
  width: 100%;
}

.visual .visual__slogan {
  position: absolute;
  width: 26%;
  left: 10%;
  top: 34%;
}

.visual .visual__image .cup1 {
  position: absolute;
  z-index: 9;
  top: 34.5%;
  left: 41.5%;
  width: 22%;
}

.visual .visual__image .cup2 {
  position: absolute;
  z-index: 9;
  top: 34.5%;
  right: 19.2%;
  width: 18%;
}

.visual .visual__image .cup3 {
  position: absolute;
  z-index: 8;
  top: 15.1%;
  left: 42%;
  width: 19%;
}

.visual .visual__image .cup4 {
  position: absolute;
  z-index: 8;
  top: 18%;
  right: 9.4%;
  width: 21%;
}

.visual .btn__slogan {
  position: absolute;
  width: 26%;
  left: 10%;
  top: 63.4%;
}

.btn__slogan a {
  width: 28%;

  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  text-align: center;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 34px;
  display: block;
  margin: 0 auto;
}

.set_common {
  opacity: 0;
  transition: all 0.4s;
}
